$primary: #219EBC;
$primary-light: #92d5dd;
$primary-dark: #121e22;

$accent: #FFB703;
$accent-dark: #FB8500;

$grey: #282828;

$text-primary: $grey;
$text-light: #FFFFFF;
$text-muted: rgba($primary-dark, .7);

$bg-primary: #FFFFFF;
$bg-secondary: $primary-light;
$bg-dark: #2b2c2f;
$bg-grey: $grey;

$border: rgba($primary-dark, .1);
$border-light: rgba($primary-light, .3);

$success: #4CAF50;
$warning: $accent;
$error: #FF5252;
$error-light: #e87470;
$info: $primary;
