$primary: #219EBC;
$primary-light: #8ECAE6;
$primary-dark: #023047;

$accent: #FFB703;
$accent-dark: #FB8500;

$grey: #282828;

$text-primary: $grey;
$text-light: #FFFFFF;
$text-muted: rgba($primary-dark, .7);

$bg-primary: #FFFFFF;
$bg-secondary: $primary-light;
$bg-dark: $primary-dark;
$bg-grey: $grey;

$border: rgba($primary-dark, .1);
$border-dark: rgba($primary-dark, .2);

$success: #4CAF50;
$warning: $accent;
$error: #FF5252;
$info: $primary;

:root {
  // Primary Colors
  --color-primary: #{$primary};    // Main brand color
  --color-primary-light: #{$primary-light};  // Light variant
  --color-primary-dark: #{$primary-dark};   // Dark variant

  // Accent Colors
  --color-accent: #{$accent};
  --color-accent-dark: #{$accent-dark};

  // Grey Colors
  --color-grey: #{$grey};   // Default grey color

  // Text Colors
  --color-text-primary: #{$text-primary};
  --color-text-light: #{$text-light};
  --color-text-muted: #{$text-muted};  // Using primary-dark with opacity

  // Background Colors
  --color-bg-primary: #{$bg-primary};
  --color-bg-secondary: #{$bg-secondary};  // Light background
  --color-bg-dark: #{$bg-dark};  // Dark background
  --color-bg-grey:  #{$bg-grey};  // Default grey color for backgrounds

  // Border Colors
  --color-border: #{$border};  // Using primary-dark with opacity
  --color-border-dark: #{$border-dark};  // Using primary-dark with opacity

  // Status Colors
  --color-success: #{$success};
  --color-warning: #{$warning};
  --color-error: #{$error};
  --color-info: #{$info};
}
