# Ignore build and coverage folders
build
dist
coverage

# Ignore dependencies
node_modules

# Ignore lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore generated or minified files
*.min.js
*.min.css
*.bundle.js

# Ignore environment and log files
.env
*.log

# Ignore config files
*.config.js
*.config.cjs
*.config.mjs

# Only format files inside src/
#!src/**
