@use "@/assets/scss/abstracts/colours" as c;

:root[data-theme='dark'] {
  // Accent Colors
  --color-accent: #{c.$accent};
  --color-accent-dark: #{c.$accent-dark};

  // Text Colors
  --color-text-primary: #{c.$text-light};

  // Background Colors
  --color-bg-primary: #{c.$bg-dark};

  // Scrollbar Colors
  --color-scrollbar-thumb: #{c.$scrollbar-thumb-light};

  // Border Colors
  --color-border: #{c.$border-light};

  // Status Colors
  --color-success: #{c.$success};
  --color-warning: #{c.$warning};
  --color-error: #{c.$error-light};
  --color-info: #{c.$info};
}

:root[data-theme="dark"] body {
  color: var(--color-text-primary);
}
